#rowAddGarment{
    margin-top: 100px;
}

.btnSaveGarment.btnCancelGarment {
    color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;

}

.btnSaveGarment.btnCancelGarment:hover {
    color: white !important;
    background-color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

.botones {
    text-align: center !important;  
}

.selectMultiple{
    border-color: whitesmoke !important;
    cursor: all-scroll;
    background: scroll;  

}

.avisoRef{
    font-size: 10pt;
}

@media (max-width: 576px){
    #rowAddGarment{
        margin-top: 275px;
    }
}