.btnSaveUser.btnCancelUser {
    color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

.btnSaveUser.btnCancelUser:hover {
    color: white !important;
    background-color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

.botones {
    text-align: center !important;
    
}

/* .btnCancelUser{
    margin-left: 20px;
}
  
.btnSaveUser{
    margin-left: 220px;   
} */

.row justify-content-center EditUser{
    margin-left: 40px !important;
}

#formEdit {
    margin-top: 50px !important;

}
