#rowEditGarment{
    margin-top: 100px;
}

.btn-info input{
    color: #fff;
    background-color: #1FA5A5 !important;
}

.btn-info {
    color: #fff;
    background-color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

.selectMultiple{
    /* border-color: transparent !important; */
    border-color: whitesmoke !important;
    cursor: all-scroll;
    background: scroll;  

}

@media (max-width: 576px){
    #rowEditGarment{
        margin-top: 275px;
    }
}

