.LogoNavbar{
  margin-top: 10px;
  margin-left: 25px;
  
}
.nav-link{
  font-weight: bolder;
  color: #575756 !important;
  margin-top: 50px;
  margin-left: 25px;
}
.usernameLayout{
  font-weight: bolder;
  color: #575756 !important;
  font-size: 14pt;
}

#formNavbar {
  margin-right: 30px;
  margin-top: 20px;
}


@media (max-width: 576px){
  .navbar{
    background-color:rgb(236, 236, 236);
  }
  .LogoNavbar{
    margin-top: 0px;
    margin-left: 0px;
    
  }
  .nav-link{
    margin-top: 0px;
    margin-left: 0px;
  }
  #formNavbar {
    margin-top: 0px;
  }
}

