.row {
  justify-content: center;
}
#rowGarments {
  margin-top: 100px;
}

.card {
  margin-top: 20px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* width: 16rem; */
  /* font-size: 14pt; */
}

.card:hover .card-title {
  color: white !important;
}

.card img {
  flex: 0 1 auto !important;
  margin-top: 40px;
}

.card-body {
  flex: 0 1 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  margin-top: 20px;
  text-align: center;
}

/* .card-text{
    font-weight: bolder;
} */

.card-text,
.card-title {
  text-align: center !important;
  color: #1fa5a5 !important;
}
.GarmentsButtons {
  position: absolute !important;
  bottom: 0 !important;
  margin-left: 60px;
}

.btnDeleteGarment {
  color: #1fa5a5 !important;
  border-color: transparent !important;
  display: inline inline-block !important;
}
.btnDeleteGarment:hover {
  color: white !important;
  background-color: #1fa5a5 !important;
  border-color: transparent !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  /* outline: 0 !important; */
}

.btnEditGarment {
  color: #1fa5a5 !important;
  border-color: transparent !important;
}

.btnEditGarment:hover {
  color: white !important;
  background-color: #1fa5a5 !important;
  border-color: transparent !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
  /* outline: 0 !important; */
}

.btnaddGarments {
  color: #fff !important;
  background-color: #1fa5a5 !important;
  border-color: #1fa5a5 !important;
}

.col-12AddGarment {
  text-align: center;
}


@media (max-width: 576px) {
  #rowGarments {
    margin-top: 275px;
  }

  .GarmentsButtons {
    position: absolute !important;
    bottom: 0 !important;
    margin-left: 100px;
  }
}
