/* .table-responsive{
  display: contents !important;
} */

.btnshowUsers {
  color: #1FA5A5 !important;
  border-color: transparent !important;
}
.btnshowUsers:hover {
  color: white !important;
  background-color: #1FA5A5 !important;
  border-color: transparent !important;
}

/* .addUser{
  display: inline !important;
} */

.btnaddUsers {
    color: #fff !important;
    background-color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

#table {
  margin-top: 50px !important;
}