/* .btnshowUsers {
  color: #1FA5A5 !important;
  border-color: #1FA5A5 !important;
} */
.btnshowUsers:hover {
  color: white !important;
  background-color: #1FA5A5 !important;
  border-color: #1FA5A5 !important;
}

.btnaddUsers {
    color: #fff !important;
    background-color: #1FA5A5 !important;
    border-color: #1FA5A5 !important;
}

/* .btnshowUsers {
    text-decoration: none;
    color: #26a69a;
    background-color: transparent;
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: 1px solid;
}

.btnshowUsers:hover {
    background-color: #2bbbad;
    border: none;
} */

/* .btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #26a69a;
    background-color: transparent;
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border: 1px solid;
} */
